<!-- <ul class="nav justify-content-center p-3">
    <li class="nav-item"><a class="nav-link" href="/">Casa del Maestro</a></li>
    <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
    <?php if(isset($_SESSION['first_name'])): ?>
    <li class="nav-item">
        <a class="nav-link disabled"><span>Bienvenido <?= $_SESSION['first_name']?>!</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/change_password.php">Cambiar mi contraseña</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout.php" onclick="return confirm('¿Deseas cerrar la sesión?');">Salir</a
            class="nav-link">
    </li>
    <?php endif ?>
    <li class="nav-item">
        <button class="dark-switcher nav-link" title="Toggle Dark Mode">
            <img src="img/moon.svg" class="theme-icon" alt="Dark Mode">
        </button>
    </li>
</ul> -->

<nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/" style="font-weight: 600;">
            <img src="/img/cdm.svg" alt="Logo Casa del Maestro" width="36" class="d-inline-block align-middle">&nbsp;
            Casa del Maestro
        </a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-target="#navbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <?php if ( isset($_SESSION['user_id']) ): $row = getUserById( (int) $_SESSION['user_id'] );?>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Asociado</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown02">
                        <a class="dropdown-item" href="/asociado_listar.php">Listar asociados</a>
                        <a class="dropdown-item" href="/asociado_registrar.php">Registrar asociado</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Usuario</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="/user_change_password.php">Cambiar contraseña</a>
                        <!-- <div class="dropdown-divider"></div> -->
                        <a class="dropdown-item" href="/user_profile.php">Mi perfil</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link active">Hola <span
                            style="font-weight: 500"><?= $row[0]['first_name'] ?>!</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user_logout.php"
                        onclick="return confirm('¿Deseas cerrar la sesión?');">Salir</a>
                </li>
                <li class="nav-item">
                    <button class="dark-switcher nav-link" title="Toggle Dark Mode">
                        <img src="img/moon.svg" class="theme-icon" alt="Dark Mode">
                    </button>
                </li>
            </ul>
            <?php else: ?>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/user_register.php">Crear cuenta</a></li>
                <li class="nav-item"><a class="nav-link" href="/user_login.php">Iniciar sesión</a></li>
                <li class="nav-item">
                    <button class="dark-switcher nav-link" title="Toggle Dark Mode">
                        <img src="img/moon.svg" class="theme-icon" alt="Dark Mode">
                    </button>
                </li>
            </ul>
            <?php endif ?>
        </div>
    </div>
</nav>