<form action="" style="width: 100%;max-width: 370px;margin: auto;" method="POST">
    <div class="text-center mb-4">
        <img src="/img/cdm.svg" alt="" height="80">
    </div>

    <h1 class="mb-3">Iniciar sesión</h1>
    <p class="text-justify"><span style="font-weight: 500">*</span>Su nombre de usuario de identificación de inicio de sesión es el nombre de usuario con el que se registró.</p>

    <?php if (!$logonSuccess): ?>
    <div class="alert alert-danger" role="alert">
        Nombre de usuario o contraseña no válidos o aún no ha activado su cuenta.
    </div>
    <?php endif ?>

    <div class="form-group">
        <input spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" class="form-control <?= error_field('user_name', $errors); ?>" type="text" name="user_name" id="user-name" placeholder="Nombre de Usuario" value="<?= $user['user_name'] ?>">
        <div class="invalid-feedback"><?= $errors['user_name'] ?? '' ?></div>
    </div>

    <div class="form-group">
        <input spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" class="form-control <?= error_field('password', $errors); ?>" type="password" name="password" id="login-password" placeholder="Contraseña" value="<?= $user['password'] ?>">
        <div class="invalid-feedback"><?= $errors['password'] ?? '' ?></div>
    </div>

    <div class="custom-control custom-switch">
        <input class="custom-control-input" type="checkbox" name="" id="show-login-password" onclick="showLoginPassword()">
        <label class="custom-control-label" for="show-login-password" style="font-weight: normal;"> Mostrar contraseña</label>
    </div>

    <div class="my-4">
        <button class="btn btn-primary" type="submit">Ingresar</button>
        <a href="/user_forgot_password.php" style="float: right;padding: .5rem 0;">¿Has olvidado la contraseña?</a>
    </div>
    <p class="text-center">¿No tienes una cuenta?<a href="/user_register.php"> Regístrate</a></p>
</form>
