<form action="" style="width: 100%;max-width: 330px;margin: auto;" method="POST">
    <div class="text-center mb-4">
        <img src="/img/cdm.svg" alt="" height="100">
    </div>
    <h1 class="mb-4">Iniciar sesión</h1>
    <?php if(isset($errors['login_error'])): ?>
    <div class="alert alert-danger" role="alert"><?= $errors['login_error'] ?></div>
    <?php endif ?>

    <div class="form-group">
        <input class="form-control <?= error_field('user_name', $errors); ?>" type="text" name="user_name" id="user_name" placeholder="Nombre de Usuario" value="<?= $user['user_name'] ?>">
        <div class="invalid-feedback"><?= $errors['user_name'] ?? '' ?></div>
    </div>

    <div class="form-group">
        <input class="form-control <?= error_field('password', $errors); ?>" type="password" name="password" id="login-password" placeholder="Contraseña">
        <div class="invalid-feedback"><?= $errors['password'] ?? '' ?></div>
    </div>

    <div class="form-group">
        <input class="checkbox" type="checkbox" name="" id="show-login-password" onclick="showLoginPassword()">
        <label for="show-login-password" style="font-weight: normal;"> Mostrar contraseña</label>
    </div>

    <div class="my-4">
        <button class="btn btn-success" type="submit">Ingresar</button>
        <a href="/user_forgot_password.php" style="float: right;padding: .5rem 0;">¿Has olvidado la contraseña?</a>
    </div>
    <p class="text-center">¿No tienes una cuenta?<a href="/user_register.php"> Regístrate</a></p>
</form>