<form action="" style="width: 100%;max-width: 500px;margin: auto;" method="POST">
    <div class="text-center mb-4">
        <a href="/"><img src="/img/cdm.svg" alt="" height="80"></a>
    </div>

    <div class="mb-4">
        <h1 >Registro de usuario</h1>
        <p>Ingrese sus datos para registrarse y poder hacer uso de la aplicación.</p>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="last-name">Apellidos <span>*</span></label>
            <input spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" class="form-control <?= error_field('last_name', $errors); ?>" type="text" name="last_name" id="last-name" value="<?= $user['last_name'] ?>">
            <div class="invalid-feedback"><?= $errors['last_name'] ?? '' ?></div>
        </div>

        <div class="form-group col-md-6">
            <label for="first-name">Nombre <span>*</span></label>
            <input spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" class="form-control <?= error_field('first_name', $errors); ?>" type="text" name="first_name" id="first-name" value="<?= $user['first_name'] ?>">
            <div class="invalid-feedback"><?= $errors['first_name'] ?? '' ?></div>
        </div>
    </div>

    <div class="form-group">
        <label for="user-name">Nombre de usuario <span>*</span></label>
        <input spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" class="form-control <?= error_field('user_name', $errors); ?>" type="text" name="user_name" id="user-name" value="<?= $user['user_name'] ?>">
        <div class="invalid-feedback"><?= $errors['user_name'] ?? '' ?></div>
    </div>

    <div class="form-group">
        <label for="user-email">Correo electrónico <span>*</span></label>
        <input spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" class="form-control <?= error_field('user_email', $errors); ?>" type="email" name="user_email" id="user-email" value="<?= $user['user_email'] ?>">
        <div class="invalid-feedback"><?= $errors['user_email'] ?? '' ?></div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="register-password">Contraseña <span>*</span></label>
            <input spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" class="form-control <?= error_field('password', $errors); ?>" type="password" name="password" id="register-password" value="<?= $user['password'] ?>">
            <div class="invalid-feedback"><?= $errors['password'] ?? '' ?></div>
        </div>

        <div class="form-group col-md-6">
            <label for="register-confirm-password">Confirmar contraseña <span>*</span></label>
            <input spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off" class="form-control <?= error_field('confirm_password', $errors); ?>" type="password" name="confirm_password" id="register-confirm-password" value="<?= $user['confirm_password'] ?>">
            <div class="invalid-feedback"><?= $errors['confirm_password'] ?? '' ?></div>
        </div>
    </div>

    <!-- Mostrar contraseñas -->
    <div class="form-group">
        <input class="checkbox" type="checkbox" name="" id="show-register-password" onclick="showRegisterPasswords()">
        <label for="show-register-password" style="font-weight: normal;"> Mostrar contraseña</label>
    </div>

    <div class="my-4">
        <button class="btn btn-success" type="submit">Registrar</button>
        <a href="/" style="float: right;padding: .5rem 0;">Cancelar</a>
    </div>
    <p class="text-center">¿Ya tienes una cuenta?<a href="/user_login.php"> Iniciar sesión</a></p>
</form>