<form action="/user_reset_password.php" style="width: 100%;max-width: 370px;margin: auto;" method="POST">
    <div class="text-center mb-4">
        <img src="/img/cdm.svg" alt="" height="80">
    </div>
    <h1 class="mb-4">Restablecer contraseña</h1>

    <small id="passwordHelpBlock" class="form-text mb-1">Utiliza ocho caracteres como mínimo con una combinación de
        letras, números y símbolos.</small>
    <div class="form-group">
        <input spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off"
            class="form-control <?= error_field('new_password', $errors); ?>" type="password" name="new_password"
            id="new-password" placeholder="Nueva contraseña" value="" aria-describedby="passwordHelpBlock">
        <div class="invalid-feedback"><?= $errors['new_password'] ?? '' ?></div>
        <input type="hidden" name="key" value="<?= $reset_key ?>">
    </div>

    <div class="form-group">
        <input spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off"
            class="form-control <?= error_field('confirm_new_password', $errors); ?>" type="password"
            name="confirm_new_password" id="confirm-new-password" placeholder="Confirmar nueva contraseña" value=""
            aria-describedby="passwordHelpBlock">
        <div class="invalid-feedback"><?= $errors['confirm_new_password'] ?? '' ?></div>
        <input type="hidden" name="user_id" value="<?= $user['user_id'] ?>">
    </div>

    <div class="my-4">
        <button class="btn btn-primary btn-block" type="submit">Restablecer contraseña</button>
    </div>
</form>